<% provide(:title, 'Home') %>

<div id="header2">
	<b><p style="font-size:30px">.<%= @app_name %> Home Page.</p></b>
	<p>
		<% unless signed_in? %>
			<%= link_to "Sign up!", 'signup' %> or <%= link_to "Sign in!" , signin_path %>
		<% else %>
			<br>
			<%= button_to "Register app with the Central Registry!", app_registration_path %>
			<%= button_to "Register posts in the Central Registry!", register_posts_path %>
		<% end %>
	</p>
</div>
